.el-select .el-input__inner{
    height:32px;
}
.el-date-editor .el-range-input{
    height:32px !important;
}
.is-align-center{
    align-items: center;
}
.el-select{
    width:100%;
}
.el-form-item__label{
    font-weight: bold;
}